#box1{
	height: 75px;
	padding: 0px;
	background-color: #f5f5dc;
}


#box2{
	height: 75px;
	padding: 0px;
	background-color: #050002;
}

#border{
	border-style: ridge;
	border-color: red;
}
