#box1{
	width: 75px;
	height: 75px;
	padding: 0px;
	background-color: #f5f5dc;
}


#box2{
	width: 75px;
	height: 75px;
	padding: 0px;
	background-color: #050002;
}

#box3{
	width: 100px;
	height: 100px;
	background-color: green;
}